{
  "openapi": "3.0.0",
  "info": {
    "title": "Hostinger API",
    "description": "# Overview\nThe Hostinger API provides a comprehensive set of endpoints that allow developers\nto interact with Hostinger's services programmatically.\nThis API enables you to manage various aspects of your Hostinger account.\n\nThe Hostinger API is a (mostly) RESTful API that uses standard HTTP methods and status codes.\n# Authentication\nThe Hostinger API uses tokens for authentication. To authenticate your requests,\nyou need to include a valid bearer token in the Authorization header of your HTTP requests:\n```yaml\nAuthorization: Bearer YOUR_API_TOKEN\n```\nAPI tokens for individual users can be created and managed from\nthe [Account page](https://hpanel.hostinger.com/profile/api) of the Hostinger Panel.\nTokens will have same permissions as the owning user.\nOptionally, tokens can be set to expire after a certain period of time.\n# Rate Limiting\nTo ensure fair usage and prevent abuse,\nthe API enforces rate limits on the number of requests that can be made within a certain time period.\nIf you exceed the rate limit, you will receive a 429 Too Many Requests response.\nRate limit headers are included in the response to help you manage your requests.\nYour IP address might get temporarily blocked if you exceed the rate limit multiple times.\n# Parameters\nAll requests sent to API must have the content type `application/json`.\n`POST`, `PUT`, `PATCH` methods may include a JSON object in the request body.\nDocumentation provides required structure and examples of the object.\nSome endpoints require path parameters.\nThese parameters are included in the URL path and are marked with curly braces.\n# Pagination\nSome endpoints return a large number of items.\nTo make these responses more manageable, the API uses pagination.\nBy default, the API returns50 items per page.\n\n The page number can be specified using the `page` query parameter,\n for example: `/api/vps/v1/public-keys?page=2`\n# Errors\nThe Hostinger API uses standard HTTP status codes to indicate the success or failure of a request.\nIn case of an error, the API will return a JSON response with an `error` field,\ncontaining a human-readable error message.\nError responses also contain a `correlation_id` field\nwhich can be used to identify the request in case you need to contact support.\n# SDKs & Tools\nTo help you get started with the Hostinger API,we provide SDKs and tools in various programming languages.\nThe usage & documentation for each SDK can be found in the respective repositories:\n- Ansible - https://github.com/hostinger/ansible-collection-hostinger\n- CLI - https://github.com/hostinger/api-cli\n- n8n node - https://github.com/hostinger/api-n8n-node\n- MCP server - https://github.com/hostinger/api-mcp-server\n- PHP - https://github.com/hostinger/api-php-sdk\n- Python - https://github.com/hostinger/api-python-sdk\n- Terraform - https://github.com/hostinger/terraform-provider-hostinger\n- Node / TypeScript - https://github.com/hostinger/api-typescript-sdk\n- Postman collection - https://www.postman.com/hostinger-api\n- WHMCS module - https://github.com/hostinger/api-whmcs-plugin\n# Change log\nFor information on the latest changes to the API,\nplease refer to the [change log](https://github.com/hostinger/api/blob/main/CHANGELOG.md).\n# Support\nIf you have any questions, feedback or feature requests,\nplease create an [issue](https://github.com/hostinger/api/issues)\nor [discussion](https://github.com/hostinger/api/discussions) on the repository.\n\nFor any support take a look at our [Github Repository](https://github.com/hostinger/api/),\ndedicated to the Hostinger API.",
    "contact": {
      "name": "Hostinger",
      "url": "https://developers.hostinger.com",
      "email": "devs@hostinger.com"
    },
    "version": "1.8.2",
    "x-scalar-sdk-installation": [
      {
        "lang": "Shell",
        "description": "Install official CLI tool. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-cli).",
        "source": "hostinger vps vm list"
      },
      {
        "lang": "PHP",
        "description": "Install official PHP SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-php-sdk).",
        "source": "composer require hostinger/api-php-sdk"
      },
      {
        "lang": "Python",
        "description": "Install official Python SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-python-sdk).",
        "source": "pip install hostinger_api"
      },
      {
        "lang": "Node",
        "description": "Install official Node / Typescript SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-typescript-sdk).",
        "source": "npm install hostinger-api-sdk"
      }
    ]
  },
  "servers": [
    {
      "url": "https://developers.hostinger.com",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/api/agency-hosting/v1/orders/{order_id}/datacenters": {
      "get": {
        "tags": [
          "Agency Hosting: Datacenters"
        ],
        "summary": "List available datacenters for an Agency Plan order",
        "description": "Lists the datacenters available for provisioning a new website on the given Agency Plan\nhosting order.\n\nEach datacenter includes a `pinger_url` you can ping from the client to measure round-trip\nlatency; comparing the results across datacenters lets you pick the nearest one (lowest\nping) before choosing its `code` as the `datacenter_code` when creating a website setup.",
        "operationId": "agency-hosting_listAvailableDatacentersForAnAgencyPlanOrderV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Datacenters.DatacenterCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/domains/{from_domain}": {
      "put": {
        "tags": [
          "Agency Hosting: Domains"
        ],
        "summary": "Change Agency Plan website domain",
        "description": "Changes the primary domain for an Agency Plan website.\n\nProvide the current domain in the path and the new domain in the request body.\nSet domain to null to revert to the temporary domain.",
        "operationId": "agency-hosting_changeAgencyPlanWebsiteDomainV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          },
          {
            "$ref": "#/components/parameters/from_domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Domains.ChangeDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/domains": {
      "post": {
        "tags": [
          "Agency Hosting: Domains"
        ],
        "summary": "Link domain to Agency Plan website",
        "description": "Links a domain to the specified Agency Plan website so it can serve traffic for that domain.",
        "operationId": "agency-hosting_linkDomainToAgencyPlanWebsiteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Domains.LinkDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/domains": {
      "get": {
        "tags": [
          "Agency Hosting: Domains"
        ],
        "summary": "List Agency Plan domains",
        "description": "Returns a paginated list of domains associated with Agency Plan websites accessible to the authenticated client.\n\nUse the website_uuids filter to narrow results to specific websites.",
        "operationId": "agency-hosting_listAgencyPlanDomainsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/website_uuids"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgencyHosting.V1.Domains.DomainCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/domains/{domain}": {
      "delete": {
        "tags": [
          "Agency Hosting: Domains"
        ],
        "summary": "Unlink domain from Agency Plan website",
        "description": "Unlinks a domain from the specified Agency Plan website.\n\nThe website stops serving traffic on this domain immediately.\n\nWebsite files and database are preserved, and any other linked domains remain accessible.\n\nIf this is the only domain on the website, unlinking leaves the website without an accessible domain.",
        "operationId": "agency-hosting_unlinkDomainFromAgencyPlanWebsiteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          },
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/files/import-archive": {
      "post": {
        "tags": [
          "Agency Hosting: Files"
        ],
        "summary": "Import Agency Plan website from archive",
        "description": "Imports an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to the website's root directory via file browser first, then provide its\nfilename in this request. Website contents are overwritten by the archive contents. Supported\narchive types: .zip, .tar, .tar.gz, .tgz.",
        "operationId": "agency-hosting_importAgencyPlanWebsiteFromArchiveV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Files.ImportArchiveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/orders/{order_id}/websites/setups": {
      "post": {
        "tags": [
          "Agency Hosting: Website Setups"
        ],
        "summary": "Provision a new Agency Plan website",
        "description": "Provisions a new website on one of your Agency Plan hosting orders.\n\nChoose the datacenter, stack (`flavor`), and PHP version for the site. Optionally attach\nyour own `domain` — omit it, set it to `null`, or leave it unavailable and a free\n`*.hostingersite.com` subdomain is generated instead — and/or install WordPress by\nsupplying the `wordpress` details (admin account, site title, and language).\n\nCommon setups:\n- **Plain PHP site**: `flavor` set to `php-fpm`, with `settings.php.version`; omit\n  `wordpress` and `type`.\n- **WordPress site**: `flavor` set to the desired WordPress version (e.g. `wp-7.0`), plus\n  the `wordpress` block (admin account, title, language).\n- **Static/Node.js frontend app**: `flavor` set to `php-fpm` and `type` set to\n  `node-static`.\n\nProvisioning runs in the background, so the response returns immediately with a setup UUID\nthat identifies the job. The new website becomes reachable once provisioning finishes.",
        "operationId": "agency-hosting_provisionANewAgencyPlanWebsiteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Setups.CreateSetupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Setups.WebsiteSetupResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/orders/{order_id}/websites/setups/{setup_uuid}": {
      "get": {
        "tags": [
          "Agency Hosting: Website Setups"
        ],
        "summary": "Get Agency Plan website setup status",
        "description": "Returns the current status of an Agency Plan website setup started via the setups\nendpoint.\n\nPoll this endpoint using the `setup_uuid` returned from the provisioning request until\n`status` becomes `completed`, at which point `website_uid` identifies the new website.",
        "operationId": "agency-hosting_getAgencyPlanWebsiteSetupStatusV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id_path"
          },
          {
            "$ref": "#/components/parameters/setup_uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Setups.WebsiteSetupStatusResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/build-assets": {
      "post": {
        "tags": [
          "Agency Hosting: Websites"
        ],
        "summary": "Build Agency Plan website NodeJS assets",
        "description": "Builds and deploys a Node.js application for an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to file browser first, then provide its relative path from document root in this request.\nWebsite contents are overwritten by the build result, which is deployed to public_html.",
        "operationId": "agency-hosting_buildAgencyPlanWebsiteNodeJSAssetsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.BuildAssetsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/cache": {
      "delete": {
        "tags": [
          "Agency Hosting: Cache"
        ],
        "summary": "Clear Agency Plan website cache",
        "description": "Clears cache for all domains associated with an Agency Plan website, including its preview domain.\n\nThis operation clears all cache types for the website.",
        "operationId": "agency-hosting_clearAgencyPlanWebsiteCacheV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs": {
      "get": {
        "tags": [
          "Agency Hosting: Cron Jobs"
        ],
        "summary": "List Agency Plan website cron jobs",
        "description": "Returns a paginated list of cron jobs configured for an Agency Plan website.\n\nEach entry includes the schedule expression and the command executed on that schedule.",
        "operationId": "agency-hosting_listAgencyPlanWebsiteCronJobsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CronJobCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Agency Hosting: Cron Jobs"
        ],
        "summary": "Create Agency Plan website cron job",
        "description": "Creates a cron job for an Agency Plan website from a schedule expression and a command.\n\nReturns the created cron job, including its uuid, which is required to delete the cron job.",
        "operationId": "agency-hosting_createAgencyPlanWebsiteCronJobV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CreateCronJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CronJobResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs/{uuid}": {
      "delete": {
        "tags": [
          "Agency Hosting: Cron Jobs"
        ],
        "summary": "Delete Agency Plan website cron job",
        "description": "Permanently deletes the cron job identified by its uuid from an Agency Plan website.\n\nThe operation is idempotent: deleting a cron job that does not exist succeeds without error.",
        "operationId": "agency-hosting_deleteAgencyPlanWebsiteCronJobV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          },
          {
            "$ref": "#/components/parameters/agency_cron_job_uuid_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}": {
      "get": {
        "tags": [
          "Agency Hosting: Websites"
        ],
        "summary": "Get Agency Plan website details",
        "description": "Retrieves detailed information about a specific Agency Plan website, including configuration,\nstatus, metadata, hosting plan details, and resource quotas.",
        "operationId": "agency-hosting_getAgencyPlanWebsiteDetailsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Agency Hosting: Websites"
        ],
        "summary": "Delete Agency Plan website",
        "description": "Deletes an Agency Plan website and schedules cleanup of its resources.\n\nThis action is irreversible. Website files, databases, and linked domains are removed.",
        "operationId": "agency-hosting_deleteAgencyPlanWebsiteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteDeletionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/agency-hosting/v1/websites/{website_uid}/processes": {
      "get": {
        "tags": [
          "Agency Hosting: Websites"
        ],
        "summary": "List running Agency Plan website processes",
        "description": "Lists active and recently completed asynchronous processes for an Agency Plan website.\n\nEach process has a unique ID (for tracking), a type, and a status (running, completed, failed).\nPoll this endpoint after initiating async operations (SSL setup, backups, cloning) to track progress.",
        "operationId": "agency-hosting_listRunningAgencyPlanWebsiteProcessesV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_uid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteProcessCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/catalog": {
      "get": {
        "tags": [
          "Billing: Catalog"
        ],
        "summary": "Get catalog item list",
        "description": "Retrieve catalog items available for order.\n\nPrices in catalog items is displayed as cents (without floating point),\ne.g: float `17.99` is displayed as integer `1799`.\n\nUse this endpoint to view available services and pricing before placing orders.",
        "operationId": "billing_getCatalogItemListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Catalog.CatalogItemCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/payment-methods/{paymentMethodId}": {
      "post": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Set default payment method",
        "description": "Set the default payment method for your account.\n\nUse this endpoint to configure the primary payment method for future orders.",
        "operationId": "billing_setDefaultPaymentMethodV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentMethodId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Delete payment method",
        "description": "Delete a payment method from your account.\n\nUse this endpoint to remove unused payment methods from user accounts.",
        "operationId": "billing_deletePaymentMethodV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentMethodId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/payment-methods": {
      "get": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Get payment method list",
        "description": "Retrieve available payment methods that can be used for placing new orders.\n\nIf you want to add new payment method,\nplease use [hPanel](https://hpanel.hostinger.com/billing/payment-methods).\n\nUse this endpoint to view available payment options before creating orders.",
        "operationId": "billing_getPaymentMethodListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.PaymentMethod.PaymentMethodCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions": {
      "get": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Get subscription list",
        "description": "Retrieve a list of all subscriptions associated with your account.\n\nUse this endpoint to monitor active services and billing status.",
        "operationId": "billing_getSubscriptionListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/disable": {
      "delete": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Disable auto-renewal",
        "description": "Disable auto-renewal for a subscription.\n\nUse this endpoint when disable auto-renewal for a subscription.",
        "operationId": "billing_disableAutoRenewalV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/enable": {
      "patch": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Enable auto-renewal",
        "description": "Enable auto-renewal for a subscription.\n\nUse this endpoint when enable auto-renewal for a subscription.",
        "operationId": "billing_enableAutoRenewalV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}/{snapshotId}": {
      "get": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Get DNS snapshot",
        "description": "Retrieve particular DNS snapshot with contents of DNS zone records.\n\nUse this endpoint to view historical DNS configurations for domains.",
        "operationId": "DNS_getDNSSnapshotV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          },
          {
            "$ref": "#/components/parameters/snapshotId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotWithContentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}": {
      "get": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Get DNS snapshot list",
        "description": "Retrieve DNS snapshots for a domain.\n\nUse this endpoint to view available DNS backup points for restoration.",
        "operationId": "DNS_getDNSSnapshotListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}/{snapshotId}/restore": {
      "post": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Restore DNS snapshot",
        "description": "Restore DNS zone to the selected snapshot.\n\nUse this endpoint to revert domain DNS to a previous configuration.",
        "operationId": "DNS_restoreDNSSnapshotV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          },
          {
            "$ref": "#/components/parameters/snapshotId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}": {
      "get": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Get DNS records",
        "description": "Retrieve DNS zone records for a specific domain.\n\nUse this endpoint to view current DNS configuration for domain management.",
        "operationId": "DNS_getDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Zone.RecordCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Update DNS records",
        "description": "Update DNS records for the selected domain.\n\nUsing `overwrite = true` will replace existing records with the provided ones. \nOtherwise existing records will be updated and new records will be added.\n\nUse this endpoint to modify domain DNS configuration.",
        "operationId": "DNS_updateDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Delete DNS records",
        "description": "Delete DNS records for the selected domain.\n\nTo filter which records to delete, add the `name` of the record and `type` to the filter. \nMultiple filters can be provided with single request.\n\nIf you have multiple records with the same name and type, and you want to delete only part of them,\nrefer to the `Update zone records` endpoint.\n\nUse this endpoint to remove specific DNS records from domains.",
        "operationId": "DNS_deleteDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.DestroyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}/reset": {
      "post": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Reset DNS records",
        "description": "Reset DNS zone to the default records.\n\nUse this endpoint to restore domain DNS to original configuration.",
        "operationId": "DNS_resetDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.ResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}/validate": {
      "post": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Validate DNS records",
        "description": "Validate DNS records prior to update for the selected domain.\n\nIf the validation is successful, the response will contain `200 Success` code.\nIf there is validation error, the response will fail with `422 Validation error` code.\n\nUse this endpoint to verify DNS record validity before applying changes.",
        "operationId": "DNS_validateDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/v2/direct/verifications/active": {
      "get": {
        "tags": [
          "Domain Access Verifier: Verifications"
        ],
        "summary": "Get domain verifications",
        "description": "Retrieve a list of pending and completed domain verifications.",
        "operationId": "v2_getDomainVerificationsDIRECT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainAccessVerifier.V2.Verifications.ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAccessVerifier.V2.Verifications.ActiveVerificationsCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/availability": {
      "post": {
        "tags": [
          "Domains: Availability"
        ],
        "summary": "Check domain availability",
        "description": "Check availability of domain names across multiple TLDs.\n\nMultiple TLDs can be checked at once.\nIf you want alternative domains with response, provide only one TLD and set `with_alternatives` to `true`.\nTLDs should be provided without leading dot (e.g. `com`, `net`, `org`).\n\nEndpoint has rate limit of 10 requests per minute.\n\nUse this endpoint to verify domain availability before purchase.",
        "operationId": "domains_checkDomainAvailabilityV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Availability.AvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Availability.AvailabilityCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/forwarding/{domain}": {
      "get": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Get domain forwarding",
        "description": "Retrieve domain forwarding data.\n\nUse this endpoint to view current redirect configuration for domains.",
        "operationId": "domains_getDomainForwardingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Forwarding.ForwardingResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Delete domain forwarding",
        "description": "Delete domain forwarding data.\n\nUse this endpoint to remove redirect configuration from domains.",
        "operationId": "domains_deleteDomainForwardingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/forwarding": {
      "post": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Create domain forwarding",
        "description": "Create domain forwarding configuration.\n\nUse this endpoint to set up domain redirects to other URLs.",
        "operationId": "domains_createDomainForwardingV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Forwarding.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Forwarding.ForwardingResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/domain-lock": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Enable domain lock",
        "description": "Enable domain lock for the domain.\n\nWhen domain lock is enabled,\nthe domain cannot be transferred to another registrar without first disabling the lock.\n\nUse this endpoint to secure domains against unauthorized transfers.",
        "operationId": "domains_enableDomainLockV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Disable domain lock",
        "description": "Disable domain lock for the domain.\n\nDomain lock needs to be disabled before transferring the domain to another registrar.\n\nUse this endpoint to prepare domains for transfer to other registrars.",
        "operationId": "domains_disableDomainLockV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}": {
      "get": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Get domain details",
        "description": "Retrieve detailed information for specified domain.\n\nUse this endpoint to view comprehensive domain configuration and status.",
        "operationId": "domains_getDomainDetailsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Domain.DomainExtendedResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio": {
      "get": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Get domain list",
        "description": "Retrieve all domains associated with your account.\n\nUse this endpoint to view user's domain portfolio.",
        "operationId": "domains_getDomainListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Domain.DomainCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Purchase new domain",
        "description": "Purchase and register a new domain name.\n\nIf registration fails, login to [hPanel](https://hpanel.hostinger.com/) and check domain registration status.\n\nIf no payment method is provided, your default payment method will be used automatically.\n\nIf no WHOIS information is provided, default contact information for that TLD will be used.\nBefore making request, ensure WHOIS information for desired TLD exists in your account.\n\nSome TLDs require `additional_details` to be provided and these will be validated before completing purchase.\n\nUse this endpoint to register new domains for users.",
        "operationId": "domains_purchaseNewDomainV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Portfolio.PurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Order.OrderResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/privacy-protection": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Enable privacy protection",
        "description": "Enable privacy protection for the domain.\n\nWhen privacy protection is enabled, domain owner's personal information is hidden from public WHOIS database.\n\nUse this endpoint to protect domain owner's personal information from public view.",
        "operationId": "domains_enablePrivacyProtectionV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Disable privacy protection",
        "description": "Disable privacy protection for the domain.\n\nWhen privacy protection is disabled, domain owner's personal information is visible in public WHOIS database.\n\nUse this endpoint to make domain owner's information publicly visible.",
        "operationId": "domains_disablePrivacyProtectionV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/renewal": {
      "get": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Get domain renewal information",
        "description": "Retrieve renewal information for a specified domain, including its status and current\nexpiration date.\n\nUse this endpoint to build renewal automation and expiry monitoring for a single domain.",
        "operationId": "domains_getDomainRenewalInformationV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Portfolio.Renewal.RenewalInformationResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/nameservers": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Update domain nameservers",
        "description": "Set nameservers for a specified domain.\n\nBe aware, that improper nameserver configuration can lead to the domain being unresolvable or unavailable.\n\nUse this endpoint to configure custom DNS hosting for domains.",
        "operationId": "domains_updateDomainNameserversV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Portfolio.UpdateNameserversRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois/{whoisId}": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile",
        "description": "Retrieve a WHOIS contact profile.\n\nUse this endpoint to view domain registration contact information.",
        "operationId": "domains_getWHOISProfileV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Delete WHOIS profile",
        "description": "Delete WHOIS contact profile.\n\nUse this endpoint to remove unused contact profiles from account.",
        "operationId": "domains_deleteWHOISProfileV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile list",
        "description": "Retrieve WHOIS contact profiles.\n\nUse this endpoint to view available contact profiles for domain registration.",
        "operationId": "domains_getWHOISProfileListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/tld"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Create WHOIS profile",
        "description": "Create WHOIS contact profile.\n\nUse this endpoint to add new contact information for domain registration.",
        "operationId": "domains_createWHOISProfileV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.WHOIS.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois/{whoisId}/usage": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile usage",
        "description": "Retrieve domain list where provided WHOIS contact profile is used.\n\nUse this endpoint to view which domains use specific contact profiles.",
        "operationId": "domains_getWHOISProfileUsageV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileUsageResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/miscellaneous/custom-storefront-instructions": {
      "get": {
        "tags": [
          "Ecommerce: Miscellaneous"
        ],
        "summary": "Get custom storefront setup instructions",
        "description": "Retrieve step-by-step setup instructions, formatted as Markdown, for connecting a custom sales\nchannel to your store and keeping your catalog, orders, shipping and payments in sync through\nthe Ecommerce API.",
        "operationId": "ecommerce_getCustomStorefrontSetupInstructionsV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Miscellaneous.CustomStorefrontInstructionsResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/payment-methods/manual": {
      "post": {
        "tags": [
          "Ecommerce: Payments"
        ],
        "summary": "Enable manual payment method",
        "description": "Enable a manual payment method so the store can accept orders without an online payment provider.",
        "operationId": "ecommerce_enableManualPaymentMethodV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to enable manual payment for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.Payment.EnableManualPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Payment.ManualPaymentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/products/digital": {
      "post": {
        "tags": [
          "Ecommerce: Products"
        ],
        "summary": "Create digital product",
        "description": "Create a published digital product with a single variant and an optional external download link.",
        "operationId": "ecommerce_createDigitalProductV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to create the product in.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.Product.CreateDigitalProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Product.ProductCreationResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/products/physical": {
      "post": {
        "tags": [
          "Ecommerce: Products"
        ],
        "summary": "Create physical product",
        "description": "Create a published physical product with a single variant priced in the store currency.",
        "operationId": "ecommerce_createPhysicalProductV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to create the product in.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.Product.CreatePhysicalProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Product.ProductCreationResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/sales-channels": {
      "get": {
        "tags": [
          "Ecommerce: Sales channels"
        ],
        "summary": "List sales channels",
        "description": "List a store's active sales channels with their full metadata.",
        "operationId": "ecommerce_listSalesChannelsV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to list sales channels for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.SalesChannel.SalesChannelListResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Ecommerce: Sales channels"
        ],
        "summary": "Create custom sales channel",
        "description": "Create a custom sales channel for a store. Build your own frontend and keep your catalog,\norders, shipping and payments in sync through the Ecommerce API.",
        "operationId": "ecommerce_createCustomSalesChannelV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to create the sales channel for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.SalesChannel.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.SalesChannel.SalesChannelCreationResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/sales-channels/{sales_channel_id}": {
      "patch": {
        "tags": [
          "Ecommerce: Sales channels"
        ],
        "summary": "Update sales channel",
        "description": "Update a custom sales channel. The merchant-facing `name` and the public `url`\n(returned as the channel `domain`) can be changed. Pass `null` to clear a value.",
        "operationId": "ecommerce_updateSalesChannelV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store that owns the sales channel.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          },
          {
            "name": "sales_channel_id",
            "in": "path",
            "description": "The ID of the sales channel to update.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "scha_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.SalesChannel.UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.SalesChannel.SalesChannelUpdateResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/shipping": {
      "post": {
        "tags": [
          "Ecommerce: Shipping"
        ],
        "summary": "Set store shipping",
        "description": "Set the flat-rate shipping price for a store, creating the shipping zone if it does not exist yet.",
        "operationId": "ecommerce_setStoreShippingV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to configure shipping for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.Shipping.SetShippingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Shipping.ShippingResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}": {
      "delete": {
        "tags": [
          "Ecommerce: Stores"
        ],
        "summary": "Delete store",
        "description": "Soft-delete a store owned by your account.\n\nThe underlying store data is preserved; only the store is marked as deleted.",
        "operationId": "ecommerce_deleteStoreV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Store.StoreDeleteResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores": {
      "get": {
        "tags": [
          "Ecommerce: Stores"
        ],
        "summary": "Get stores",
        "description": "Retrieve the stores associated with your account.",
        "operationId": "ecommerce_getStoresV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Ecommerce.V1.Store.StoreCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Ecommerce: Stores"
        ],
        "summary": "Create store",
        "description": "Create a new store for your account.\n\nA primary sales channel is created alongside the store.",
        "operationId": "ecommerce_createStoreV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ecommerce.V1.Store.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Store.StoreCreationResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/ecommerce/v1/stores/{store_id}/metadata": {
      "get": {
        "tags": [
          "Ecommerce: Stores"
        ],
        "summary": "Get store metadata",
        "description": "Get a store's readiness metadata: whether payment methods and shipping are configured,\nplus its default currency. Useful to verify prerequisites before building a storefront.",
        "operationId": "ecommerce_getStoreMetadataV1",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The ID of the store to read metadata for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "store_01J8Z5F8W9K8M4A7B3C2D1E0FG"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ecommerce.V1.Store.StoreMetadataResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/horizons/v1/websites": {
      "post": {
        "tags": [
          "Horizons: Websites"
        ],
        "summary": "Create website",
        "description": "Create new Hostinger Horizons website from the given message.\\n\nUse this tool when user asks you to create a website, landing page, blog\nor any other type of application.\\n\nThis tool initiates the website creation process and returns a website URL and ID.\nThe generation happens asynchronously.\\n\nAfter invoking this tool, your chat reply must be EXACTLY 1 sentence summarizing\nthat Hostinger Horizons is now creating their website and it will be ready in a few minutes\nand you should provide the website URL to the user immediately\nDo not write code.\\n\\nTo edit afterwards, users must go to Hostinger Horizons interface\nin the provided website URL.\nIf the tool call fails with an error, you should provide a clear explanation of the error\nand do not generate code yourself in the chat.\n\\n\nTECHNOLOGY STACK CONSTRAINTS (STRICTLY ENFORCED):\\n\nThe environment is limited to the following technologies.\nYou MUST NOT use, suggest, or implement any technology outside this list:\\n\n\\n\n- Language: JavaScript ONLY.\n- Languages like TypeScript, Rust, Python, Java, PHP, etc., are STRICTLY PROHIBITED.\\n\n- Framework: React.\\n\n- Navigation: React Router.\\n\n- Styling: TailwindCSS.\\n\n- Components: shadcn/ui (built with @radix-ui primitives).\\n\n- Icons: Lucide React.\\n\n- Animations: Framer Motion.\\n\n\\n\nBACKEND & DATA STORAGE:\\n\n- Horizons integrated backend is the EXCLUSIVE solution for persistent data storage,\nauthentication, and database needs.\\n\n- Local databases (SQLite, MySQL, etc.) are STRICTLY PROHIBITED.\\n\n- Third-party services (Firebase, AWS Amplify) are allowed ONLY if explicitly requested by the user.\\n\n\\n\nMAPS:\\n\n- OpenStreetMap is the default provider.\\n\n- Alternative providers (Google Maps, Mapbox) are allowed ONLY if explicitly requested by the user.\\n",
        "operationId": "horizons_createWebsiteV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Horizons.V1.Websites.CreateWebsiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Horizons.V1.Websites.CreatedWebsiteResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/horizons/v1/websites/{websiteId}": {
      "get": {
        "tags": [
          "Horizons: Websites"
        ],
        "summary": "Get website",
        "description": "Get a link for the user to edit their website in Hostinger Horizons interface.\\n\nUse this tool when user wants to modify, edit or add new features to an existing website.\\n\nWebsites can only be edited in Hostinger Horizons interface in the provided website URL.",
        "operationId": "horizons_getWebsiteV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/website_id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Horizons.V1.Websites.WebsiteUrlResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/accounts/{username}/websites/{domain}/cache/clear": {
      "delete": {
        "tags": [
          "Hosting: Cache"
        ],
        "summary": "Clear website cache",
        "description": "Permanently clears all server-side cache for the website at once. Use it when content was\nupdated and needs to be visible immediately, or after making major changes.\n\nAlso purges the Hostinger CDN cache when CDN is enabled on the website. For a WordPress\ninstallation living in a subdirectory, pass the directory query parameter to clear its cache.",
        "operationId": "hosting_clearWebsiteCacheV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/username_path"
          },
          {
            "$ref": "#/components/parameters/domain"
          },
          {
            "name": "directory",
            "in": "query",
            "description": "Directory of the website installation to clear, relative to the website root.\nDefaults to the website root.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "blog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/accounts/{username}/websites/{domain}/cacheless-mode/toggle": {
      "patch": {
        "tags": [
          "Hosting: Cache"
        ],
        "summary": "Toggle cacheless mode",
        "description": "Turns development (cacheless) mode on or off, based on the enabled flag. When enabled, nothing\nis cached, effectively turning off all caching for the website; use it while actively developing,\ntesting changes, debugging issues, or when real-time updates must be visible. Disable it after\nfinishing development work to restore the performance benefits of caching.",
        "operationId": "hosting_toggleCachelessModeV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/username_path"
          },
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hosting.V1.Cache.ToggleCachelessModeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/accounts/{username}/websites/{domain}/cache/toggle": {
      "patch": {
        "tags": [
          "Hosting: Cache"
        ],
        "summary": "Toggle website cache",
        "description": "Turns server-side caching for the website on or off, based on the enabled flag. Enable it for\nfaster page loads, reduced server load, and improved user experience; recommended for production\nwebsites. Disabling may impact performance; to temporarily bypass caching while developing or\ndebugging, prefer toggling cacheless mode instead.\n\nDoes nothing if caching is already in the requested state.",
        "operationId": "hosting_toggleWebsiteCacheV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/username_path"
          },
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hosting.V1.Cache.ToggleCacheRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/accounts/{username}/cron-jobs": {
      "get": {
        "tags": [
          "Hosting: Cron Jobs"
        ],
        "summary": "List account cron jobs",
        "description": "Returns the list of cron jobs configured for the specified account, including their schedule and command.",
        "operationId": "hosting_listAccountCronJobsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/username_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hosting.V1.CronJobs.CronJobCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Hosting: Cron Jobs"
        ],
        "summary": "Create account cron job",
        "description": "Creates a cron job for the specified account from a schedule expression and a command.\n\nReturns the created cron job, including its uid, which is required to delete the cron job or fetch its output.",
        "operationId": "hosting_createAccountCronJobV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/username_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hosting.V1.CronJobs.CreateCronJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hosting.V1.CronJobs.CronJobResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/accounts/{username}/cron-jobs/{uid}": {
      "delete": {
        "tags": [
          "Hosting: Cron Jobs"
        ],
        "summary": "Delete account cron job",
[...]
